.sign_up {
    background-color: rgb(241, 240, 234);
    text-align: center;
    padding: 45px;
    border-radius: 22px;
}
.descriptor{
    color: 747474;
}
#email {
    font-size: 0.8rem;
    margin: 15px;
    padding: 20px;
    border: 0;
    border-radius: 12px;
    color: #676666;
    width: 400px;
}
button {
    background-color: rgb(235, 90, 23);
    border-radius: 12px;
    border: none;
    color: azure;
    padding: 20px;
    font-weight: bold;
}